body {
  background-color: #F5F7E7;
  margin-top: 20px;
  font-family: 'Noto Serif', serif;
  padding-top: 50px;
}

.content {
	margin-left: 15px;
}

.header-title .row-fluid{
	height: 95px;
	margin-top: 15px;
}

.name{
	font-size: 90px;
	margin-top: 25px;
}

img.logo{
	margin-left: 25px;
}

.watch{
	color: red;
	font-size: 110px;
}

.dog{
	color: #656959;
	font-size: 110px;
}

div.hero-unit{
	background-color: #861501;
	color:#F5F7E7 ;
	margin-top: 10px;
	margin-bottom: 10px;
}

div.hero-unit p{
	font-size: 45px;
	line-height: 50px;
}


div.hero-unit a:hover,
div.hero-unit a:visited,
div.hero-unit a {
	color:#F5F7E7 ;	
}

footer{
	margin-top: 45px;
	color: #656959;
	font-size: 12px;
}

footer section{
	margin-top: 15px;
}

footer ul{
	margin-left: 0px;
	list-style: none;
	font-size: 10px;
	font-weight: bold;
}

footer li{
	font-weight: normal;	
}

.alert{
	font-size: 20px;
	background-color: #EE7A51;
	color:#F5F7E7 ;
	text-shadow: none;
}

.close{
	opacity: 1;
	text-shadow: none;
	color:#F5F7E7 ;	
}

fieldset{
	margin: 25px;
}

.input-append{
	vertical-align: middle;
}

label{
	font-size: 25px;
	font-style: italic;
	font-weight: bold;
	color: #656959;
}

div.notfound{
	font-size: 25px;
	font-style: italic;
	font-weight: bold;
	color: #656959;
}

.navbar label{
	vertical-align: bottom;
	font-size: 15px;
	font-style: italic;
	font-weight: bold;
	margin-right: 20px;
	color: #656959;
}

select{
	font-size: 15px;
	font-style: italic;
	color: #656959;
}

select, input[type="password"], input[type="text"]{
	background-color: #F5F7E7;
	width: 600px;
	height:55px;
	font-family: 'Noto Serif', serif;
	font-size: 23px;
	color: #656959;
	border-radius: 10px;
	border: 5px solid  #656959; 
  -webkit-box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1); 
  -moz-box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1); 
  	box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    margin: 15px 0 15px 0;
}

input.small-number{
	width: 100px;
}

button{
    padding: 15px;
    margin: 15px 0 15px 0;
}

select#newOwner{
	height: 75px;
	margin: 15px 0px;
	padding: 15px;
}

select option{
	background-color: #F5F7E7;
	font-family: 'Noto Serif', serif;
	font-size: 23px;
	color: #656959;
}

input:focus{
	background-color: #Ffffff;
	outline:none;
}

.arrange{
	margin-left: 20px;
}

.arrange, .arrange:focus ,.arrange:hover{
	background-color: #F5F7E7;
	background-image: none;
	border: none;
	box-shadow: none;
	margin-top: 15px; 
  font-family: 'Noto Serif', serif;
  font-size: 20px;
  font-weight: bold;
  color: #656959;
}

.arrange:focus ,.arrange:hover{
  -webkit-box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1); 
  -moz-box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1); 
  	box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1); 
}

.domain {
	color: blue;
}

#sortable {
 	list-style-type: none;
 	margin: 0;
 	padding: 0; 
}

#sortable li {
	background-color: #F5F7E7;
	font-family: 'Noto Serif', serif;
	font-size: 10px;
	color: #656959;
	border-radius: 10px;
	border: 5px solid  #656959; 
	font-size: 23px;
	height: 15px;
	margin: 10px 20px;
	padding: 15px;
	overflow: hidden;
}

#users li span {
	position: absolute;
	margin-left: -1.3em; 
}

#users {
 	list-style-type: none;
 	margin: 0;
 	padding: 0; 
}

#users li {
	background-color: #F5F7E7;
	font-family: 'Noto Serif', serif;
	font-size: 10px;
	color: #656959;
	border-radius: 10px;
	border: 5px solid  #656959; 
	font-size: 23px;
	height: 15px;
	margin: 10px 20px;
	padding: 15px;
	overflow: hidden;
}

#users li span {
	position: absolute;
	margin-left: -1.3em; 
}

#hiddenForm{
	display:none;
}

.overflow{
    overflow: hidden;
    width: 100%; /* Takes up the whole width of the slide */
    height: 500px; /* 100% doesn't work here, 400px seems to work well with almost every resolution. */
}

.table {
	font-size: 18px;
}

.table th{
	font-size: 25px;
	font-weight: bold;
	color: green;
}

.table td{
	color: #656959;
}

.table-bordered{
	border: 2px solid  #656959; 
}

.table-bordered th, .table-bordered td{
	border: 1px solid  #656959; 
}

.input-append input, .input-prepend input, .input-append select, .input-prepend select, .input-append .uneditable-input, .input-prepend .uneditable-input, .input-append .dropdown-menu, .input-prepend .dropdown-menu, .input-append .popover, .input-prepend .popover {
    font-size: 23px;
}

.table.domains td{
	width: 50%;
	font-size: 25px;
	vertical-align: middle;
	text-align: left
}

table#inactive-domains th{
	color: red;
}

.thumbnail{
	text-align: center;
}

.page-header{
	text-align: left;
	vertical-align: middle;
	font-size: 50px;
	margin: 25px;
	/*color: #656959;*/
	color: green;
/*	border-bottom: 4px solid #eeeeee;
	border-right: 4px solid #eeeeee;
*/	background-color: #eeeeee;
	padding-bottom: 9px;
}

.page-header .domain-name{
	font-weight: bold;
}

p.title{
	margin: 25px;
	font-size: 35px;
	font-style: italic;
	font-weight: bold;
	color: green;
}

.footer{
	width: 100%;
	text-align: center;
	background-color: #5a5555;
	color: white;
	height: 100px;
	margin: 20px;
	padding-bottom: 20px;
}

.landing-section .description{
	font-size: 30px;
	width: 90%;
	padding: 25px;
	margin-bottom: 0px;
	height: 100%;
	font-weight: 200;
	color: #656959;
	line-height: 30px;
	-webkit-border-radius: 6px;
	 -moz-border-radius: 6px;
	      border-radius: 6px;
}

.landing-section{
	text-align: center;
	vertical-align: middle;
}

.navbar-inverse .navbar-inner {
  background-color: #5a5555;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}