<footer class="footer">
	<h3>Developed with love by <a href="http://twitter.com/olareoun">@olareoun</a> for Hache2i</h3>
	<p>Hache2i Estrategia y Dirección S.L. - C/ Pez Volador Nº 32, 28007 Madrid Spain</p>
	<p>Víctor Míguez Martínez - <a href="http://twitter.com/olareoun">@olareoun</a> - <a href="http://todofluyeblog.heroku.com">Blog</a></p>
  <script src="js/vendor/jquery-1.8.2.min.js"></script>
  <script src="js/vendor/bootstrap.js"></script>
  <script src="js/vendor/jquery-ui.js"></script>
  <script src="js/vendor/spin.min.js"></script>
  <script src="js/vendor/jquery-spin.js"></script>
  <script src="js/spin-opts.js"></script>
</footer>