<!DOCTYPE html>
<html lang="en">
  <%= erb :header %>
<body>
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
	<div class="container-fluid">
		<div class="row-fluid">
	  		<div class="span8 offset2">
	  			<a href='/home'>
					<img src='img/logo-plano.png' class='logo' alt='watch dog logo'/>
				</a>
	  		</div>
		</div>

		<br/>

				<% if !@message.nil? && !@message.empty? %>
		<div class="row-fluid">
			<div class="span8 offset2">
					<div class="alert">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<strong><%= @message %></strong>
					</div>
			</div>
		</div>
				<% end %>
		
		<div class="row-fluid content">
			<div class="span8 offset2">
				<%= yield %>
			</div>
		</div>
  </div>
	  <%= erb :footer %>
</body>
</html>
