<br />
<br />
<div class="row-fluid landing-section">
	<div class="span4 image">
		<img src="img/drive.png" class="img-circle"/>
	</div>
	<div class="span6">
		<div class="page-header">
		    Google Drive
		</div>
		<div class="description">
			<p>Take advantage of the power of Google Drive to manage all your business documentation.</p>
		</div>
	</div>
</div>

<br />
<br />
<div class="row-fluid landing-section">
	<div class="span6">
		<div class="page-header">
		    Watchdog
		</div>
		<div class="description">
			<p>Keep all the documentation under the ownership of a centralized domain account.</p>
		</div>
	</div>
	<div class="span4 image">
		<img src="img/dog-white.png" class="img-circle"/>
	</div>
</div>

<br />
<br />
<div class="row-fluid landing-section">
	<div class="span4 image">
		<img src="img/marketplace.png"/>
	</div>
	<div class="span6">
		<div class="page-header">
		    Marketplace
		</div>
		<div class="description">
			<p>Find and install Watchdog easily in Google Apps Marketplace.</p>
		</div>
	</div>
</div>

<br />
<br />
<div class="row-fluid landing-section">
	<div class="span6">
		<div class="page-header">
		    Pricing
		</div>
		<div class="description">
			<p>Use Watchdog just for x.xx€ per year/account.</p>
		</div>
	</div>
	<div class="span4 image">
		<img src="img/monedas.png" class="img-circle"/>
	</div>
</div>

