<div class="page-header">
  <p><span class="domain-name"><%= @domain %></span> Dashboard</p>
</div>

<ul class="thumbnails">
  <li class="span4 offset2">
    <div class="thumbnail">
        <a id="users" href="/domain/users">
          <div id="imgBtnDiv" width="15px" height="15px">
            <img src="img/users-big.png" alt="">
          </div>
        </a>
        <h3>Users</h3>
        <p>Check your domain users. Users in subdomains and associated domains will be included.</p>
    </div>
  </li>
  <li class="span4">
    <div class="thumbnail">
      <a id="config" href="/domain/config">
        <div id="imgBtnDiv2" width="15px" height="15px">
          <img src="img/clock-big.png" alt="">
        </div>
      </a>
      <h3>Scheduled Execution</h3>
      <p>Configure your scheduled executions. Set up the interval and the email of the central documentation account.</p>
    </div>
  </li>
</ul>

<script>
  window.onload = function(){
    $("#users").bind('click', function(event){
      $('#usersImg').css('visibility', 'hidden');
      $('#imgBtnDiv').spin(APP.spinOpts);
    });
    $("#config").bind('click', function(event){
      $('#configImg').css('visibility', 'hidden');
      $('#imgBtnDiv2').spin(APP.spinOpts);
    });
  };
</script>
