<div class="menu-wrapper">
    <div class="menu transparent menu-fixed-top ">
      <div class="row">
        <div class="col-md-2">
            <div class="menu-item login"><a href="#que">Entrar</a></div>
        </div>
        <div class="col-md-1 col-md-offset-9">
          <div class="menu-item"><a href="#que">Qué</a></div>
          <div class="menu-item"><a href="#como">Cómo</a></div>
          <div class="menu-item"><a href="#detalle">Detalle</a></div>
          <div class="menu-item"><a href="#cuanto">Cuánto</a></div>
          <div class="menu-item"><a href="#quienes">Quiénes</a></div>
        </div>
      </div>
    </div>
</div>

