<div class="row" id="quienes">
  <div class="col-lg-4 col-lg-offset-2">
    <img class="img-circle" src="img/javier.jpeg" alt="Generic placeholder image">
    <h2>Javier Posada Agudo</h2>
    <p class="lead"><strong>Idea</strong></p>
    <p>Ingeniero Informático</p>
    <p>@cintaroja</p>
    <p>javigiga@gmail.com</p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img class="img-circle" src="img/yo.jpeg" alt="Generic placeholder image">
    <h2>Víctor Míguez Martínez</h2>
    <p class="lead"><strong>Desarrollo</strong></p>
    <p>Ingeniero Informático</p>
    <p>@olareoun</p>
    <p>victor.miguez.martinez@gmail.com</p>
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->


